/* 
inline 1
ID 1
Class 1
tag  1

padding: padding-top padding-right padding-bottom padding-left;
margin: margin-top margin-right margin-bottom margin-left;
padding: Y X;
margin: Y X;
padding: PT=10px PX=30px PB50px;

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fefefe;
}

.hero {
    display: block;
    width: 100%;
    height: 600px;
    background: #bbb url('/assets/img/photo-1485217988980-11786ced9454.jpeg') no-repeat;
    background-size: contain;
    background-position: center center;
}

.d-block {
    border: 2px solid red;
    border-radius: 1px;
    padding: 10px;
}

button:hover,
button:focus {
    outline: none;
    box-shadow: none;
}

header.header {
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #eee;
    z-index: 9;
}



/* Обертка */
.wrapper {
    width: 100%;
    display: flex;
}

main {
    padding-top: 50px;
}

.products__card {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.products__card img {
    width: 100%;
}

.products__card a.products__card-link {
    padding: 4px;
    border-radius: 2px;
    background-color: #1445a0;
    color: #fff;
    text-decoration: none;
}

.products__card__price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.products__card__price span {
    font-weight: 600;
    font-size: 24px;
    color: red;
}

.products__card__price s {
    font-size: 14px;
    color: gray;
}

.products__card__buttons {
    margin-top: 10px;
}

.sale {
    padding: 4px 15px;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.products__card__image {
    position: relative;
}

.products__card__image .sale{
    position: absolute;
    right: 10px;
    top: 10px;
}


.filer {
    width: 300px;
    height: 500px;
    background-color: red;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
}

.filter-form {
    position: sticky;
    top: 50px;
    background-color: #fff;
}