/* 
inline 1
ID 1
Class 1
tag  1
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
}

.hero {
    display: block;
    width: 100%;
    height: 600px;
    background: #bbb url('/assets/img/photo-1485217988980-11786ced9454.jpeg') no-repeat;
    background-size: contain;
    background-position: center center;
}